@import "headers.scss";

.form-check-inline > .form-check-label,
.form-control-label
{
  font-family: "Gotham Bold";
  font-weight: bold;
  font-size: 0.9rem;
  /*this style is for Required field's fontello asterisk*/
  i {
    color: #dc3545;
    font-size: 0.5rem;
  }
};

.note{
  font-size: 0.8rem;
  font-style: italic;
  &.warn {
    color: #dc3545;
  }
  &.info {
    color: blue;
  }
  &.conf {
    color: green;
  }
}

/**/
